*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.container{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
img{
    max-width: 100%;
}
a{
    color: inherit;
    text-decoration: inherit;
}
li{
    list-style: none;
}
button, input{
    outline: none;
}
button:active,
.navbar__item:active{
    transform: scale(.96);
}
body{
    background: #ddd;
}
.header{
    background: #777575c8;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__image{
    width: 200px;
}
.navbar__collection{
    display: flex;
    gap: 80px;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    align-items: center;
}
input{
    position: relative;
    padding: 3px 10px;
    border: 1px solid #ddd;
    width: 270px;
    height: 30px;
    border-radius: 3px;
}
.navbar__btn{
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
    color: #fff;
    background: #4ae74a;
    position: absolute;
    padding: 3px 10px;
    margin-left: -100px;
    border-radius: 0  3px 3px 0 ;
}


/* Hero */
.hero{
    margin-top: 100px;
}
.hero__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.hero__card{
    background: #c9c5c5;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: auto;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 3px 3px #ddd;
}
.hero__card::-webkit-scrollbar{
    height: 0;
}
.hero__topic{
    display: flex;
    gap: 50px;
    margin-top: 20px;
    line-height: 25px;
}
.hero__text{
    display: flex;
    gap: 50px;
}
.fa-thumbs-up,
.fa-thumbs-down,
.fa-eye{
    font-size: 20px;
    color: #947f7f;
}
h2{
    color: #160f0fc2;
    font-size: 18px;
    font-weight: 600;
}
p{
    font-size: 18px;
    font-weight: 400;
    color: #160f0fc2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero__btn{
    display: block;
    margin: 40px auto;
    padding: 10px;
    background: dodgerblue;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.hero__btn:disabled{
    opacity: .6;
    cursor: default;
}
.hero__btn:active{
    transform: scale(0.95);
}
.hero__btn:disabled:active{
    transform: scale(1);
}
.loading__image{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background: #c9c5c5;
}

.loading__title{
    width: 80%;
    height: 30px;
    margin-top: 12px;
    background: #ddd;
}
.loading__title:last-child{
    width: 60%;
}

.back-top{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #000;
    color: #fff;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    position: fixed;
    transition: .5s;
    bottom: -40px;
    right: 20px;
    transform: scale(0);
}


.footer{
    background: #777575c8;
    width: 100%;
    padding:  20px 0;
}
.footer__text{
    flex: 1;
    display: flex;
    color: #160f0fc2;
    font-size: 18px;
    font-weight: bolder;
    gap: 40px;
}
.footer__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer__link{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.fa-telegram{
    color: #515bd4;
    font-size: 20px;
    margin-right: 10px;
}
.fa-phone{
    color: #48d348;
    font-size: 20px;
    margin-left: 10px;
}
.fa-instagram{
    margin-right: 20px;
    background-image: linear-gradient(to right, #f58529, #dd2a7b, #8134af, #515bd4);
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}

@media (max-width:840px) {
    input,button{
        display: none;
    }
    .navbar__collection{
        gap: 20px;
        font-size: 16px;
    }
    .navbar__logo{
        width: 100px;
    }
    .footer__text{
        gap: 10px;
    }
}